<div class='row justify-content-center mt-5'>
  <div class='col-md-7'>
    {{#if valido}}
      <div class='card border-success'>
        <div class='card-header bg-success text-white'>
          <h4 class='mb-0'>✔ Certificado Válido</h4>
        </div>
        <div class='card-body'>
          <dl class='row'>
            <dt class='col-sm-4'>Nome</dt>
            <dd class='col-sm-8'>{{certificado.nome}}</dd>

            <dt class='col-sm-4'>Código</dt>
            <dd class='col-sm-8'><code>{{certificado.codigo}}</code></dd>

            <dt class='col-sm-4'>Participante</dt>
            <dd class='col-sm-8'>{{certificado.Participante.nomeCompleto}}</dd>

            <dt class='col-sm-4'>E-mail</dt>
            <dd class='col-sm-8'>{{certificado.Participante.email}}</dd>


            <dt class='col-sm-4'>Evento</dt>
            <dd class='col-sm-8'>{{certificado.Evento.nome}}</dd>

            <dt class='col-sm-4'>Tipo de Certificado</dt>
            <dd class='col-sm-8'>{{certificado.TiposCertificados.descricao}}</dd>

            <dt class='col-sm-4'>Status</dt>
            <dd class='col-sm-8'>{{certificado.status}}</dd>

            <dt class='col-sm-4'>Emitido em</dt>
            <dd class='col-sm-8'>{{formatDatePtBr certificado.created_at}}</dd>
          </dl>
          <a
            href='/api/certificados/{{certificado.id}}/pdf'
            class='btn btn-success'
            target='_blank'
          >
            Baixar PDF
          </a>
        </div>
      </div>
    {{else}}
      <div class='card border-danger'>
        <div class='card-header bg-danger text-white'>
          <h4 class='mb-0'>✘ Certificado Inválido</h4>
        </div>
        <div class='card-body'>
          <p class='text-danger'>Nenhum certificado foi encontrado com este
            código.</p>
        </div>
      </div>
    {{/if}}

    <a href='/validar' class='btn btn-link mt-3'>← Validar outro
      código</a>
  </div>
</div>